<html>
<body>
	<button type="button"><a href="/app" style="text-decoration: none">Back to home page</a></i></button >
	<h1>New book</h1>
	
	<form action="/new-book" method="POST">
	
		<input type="text" name="title" placeholder="Book title"><br><br>
		<textarea name="summary" placeholder="Summary" rows="2" cols="21"></textarea><br><br>
		<input type="text" name="author" placeholder="Author"><br><br>
		<input type="text" name="publishHouse" placeholder="Publish house"><br><br>
		<input type="number" name="publishYear" placeholder="Publish year"><br><br>
		
		<input type="submit" value="Send">
	</form>
	
</body>
</html>